fieldset {
    display: inline-flex;
}

div.rowlayout {
    display: grid;
    width: max-content;
    height: max-content;
}

div.rowlayout * {
    display: grid;
    height: fit-content;
}

li.dropzone {
    cursor: grab;
}

li.dropzone:active {
    cursor: grabbing;
}

[hidden] {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

div#loading_group {
    display: grid;
    width: max-content;
    height: max-content;
}

div#loading_group * {
    display: grid;
}

progress#progressbar {
    flex-grow: 1;
}