fieldset {
    display: inline-flex;
}

div#miscFilter {
    display: grid;
    width: max-content;
    height: max-content;
}

div#miscFilter label {
    display: grid;
    height: fit-content;
}

div#miscFilter input {
    height: fit-content;
}

li.dropzone {
    cursor: grab;
}

li.dropzone:active {
    cursor: grabbing;
}

[hidden] {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}